{{>layouts/header}}
    {{#quote}}
    <div class="bg-dark text-white p-5">
        <img src="images/img1.jpg" class="img-fluid"/>
        <h1 class="text-center">{{content}}</h1>
    </div>
    {{/quote}}
{{>layouts/footer}}